<div class="container">

  <h1 class="container-heading">Espaces Membres</h1>

</div>


<div class="container">

  <h1 class="container-heading-2">Devenez membre</h1>



  <div class="row">
    <p class="col-md-12 text-align">
      Vous désirez soutenir le CLAC et participer à l'amélioration des conditions
      de logements et de vie à Ahunstic et Cartierville ?
    </p>

  </div>

  <div class="row">

    <p class="col-md-12 text-align">
      Remplissez le formulaire et faites-nous le parvenir au:
    </p>
  </div>

  <div class="row">
    <p class="col-md-12 text-align">
      10780 Laverdure, bureau 280 <br>
      Montréal (Québec) <br>
      H3L 2L9
    </p>
  </div>

  <div class="row my-btn">

    <div class="col-md-6">
      <p><a class="btn btn-secondary" href="./assets/Fiche%20membership%20(1).pdf">
        Fiche à compléter &raquo;
      </a></p>
    </div>

    <br>
    <br>

    <div class="col-md-6">
      <p><a class="btn btn-secondary" href="./assets/Statuts%20et%20règlements%20février%202020%20(1).pdf">
        Statuts et règlements &raquo;
      </a></p>
    </div>
  </div>
</div>


<div class="container">
  <mat-divider class="featurette-divider"></mat-divider>
</div>


<div class="container">

  <h1 class="container-heading-2">Impliquez-vous dans votre comité logement</h1>

</div>

<div class="container">

  <div class="row">
    <div class="col-md-6 padding-card">
      <mat-card>

        <mat-card-content>

          <mat-card-title class="card-title">Comité d'éducation populaire (CEP)</mat-card-title>

          <div class="card-text">
            <p class="text">
              Rencontres régulières d’information et d’échanges sur un thème en relation avec le droit au logement ou
              autre sujet à caractère social. Cette activité d’éducation et conviviale est précédée d’un repas organisé
              par les membres du CLAC avec le soutien de l’équipe de travail. Ces rencontres ont lieu dans la cuisine
              du Centre communautaire Ahuntsic.
            </p>

          </div>

        </mat-card-content>

      </mat-card>
    </div>


    <div class="col-md-6 padding-card">
      <mat-card class="container-card ">

        <mat-card-content>

          <mat-card-title class="card-title">Manifestations</mat-card-title>

          <div class="card-text">
            <p class="text">
              Ces manifestations sont en général organisées par nos regroupements (FRAPRU et RCLALQ) sur des
              revendications en lien avec le droit des locataires (obtenir plus de logements sociaux, exiger un contrôle
              des loyers, etc.). Elles ont lieu à Montréal ou à l’extérieur, les frais de transport sont gratuits. Elles
              peuvent concernées aussi la justice sociale et un meilleur financement des missions sociales des
              gouvernements.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>
  </div>
  <div class="row">

    <div class="col-md-6 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Comité de mobilisation du CLAC</mat-card-title>

          <div class="card-text">
            <p class="text">
              Ce comité interne au Comité logement se réunit périodiquement pour discuter principalement des enjeux
              locaux qui concernent les conditions de vie des locataires (l’accès au logement social, le développement
              du terrain Louvain, l’insalubrité, etc.) et pour organiser des activités de mobilisation.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>

    <div class="col-md-6 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Comité Vie associative</mat-card-title>

          <div class="card-text">
            <p class="text">
              Ce comité de travail est composé de membres qui sont en soutien à la préparation d’activités du CLAC. Le
              travail consiste surtout à la préparation de repas ou à des tâches logistiques pour les rencontres du
              CLAC telles que le Comité d’éducation populaire (CEP), les assemblées générales ou les activités sociales
              telles que le BBQ de l’été ou la fête de Noël.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>
  </div>

  <div class="row">

    <div class="col-md-6 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Comité des envois postaux</mat-card-title>

          <div class="card-text">
            <p class="text">
              Ce comité de travail est en action lors d’envois postaux massifs, par exemple pour le bulletin aux
              membres. Il consiste à mettre les documents dans des enveloppes, à les cacheter, les timbrer et à les
              faire parvenir au bureau de poste.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>

    <div class="col-md-6 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Accueil des locataires</mat-card-title>

          <div class="card-text">
            <p class="text">
              Accueillir et orienter les locataires qui entrent en contact avec le Comité logement, que ce soit
              physiquement ou par l’entremise du téléphone.  Peut s’ajouter à ces tâches du travail de secrétariat ou
              de communication avec les membres. Ce travail nécessite une petite formation de base. La personne doit
              être disponible à des périodes régulières.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>
  </div>

  <div class="row">

    <div class="col-md-6 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Faire des appels téléphoniques aux membres</mat-card-title>

          <div class="card-text">
            <p class="text">
              Contacter les membres du CLAC par téléphone pour les inviter aux différentes activités du CLAC. Les
              personnes fonctionnent avec des messages téléphoniques écrits et des listes d’appels. Ce travail peut
              être fait au bureau du CLAC ou à la maison.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>

    <div class="col-md-6 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Distribution de tracts/diffusion d’affiches </mat-card-title>

          <div class="card-text">
            <p class="text">
              Ce travail physique consiste à distribuer des tracts et affiches d’information sur les activités du CLAC
              ou des campagnes de sensibilisation dans des lieux publics ou de porte-à-porte. Il est préférable de faire
              ce travail en équipe.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>
  </div>


  <div class="row">

    <div class="col-md-6 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Faire signer des pétitions</mat-card-title>

          <div class="card-text">
            <p class="text">
              Se rendre dans des lieux publics pour faire signer des pétitions sur des enjeux logement ou sociaux. Il
              est préférable de faire ce travail en équipe. Cela peut consister aussi à prendre des feuilles de pétition
              et les faire signer dans son entourage.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>

    <div class="col-md-6 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Produire des pancartes et bannières</mat-card-title>

          <div class="card-text">
            <p class="text">
              Vos talents artistiques seront très appréciés pour la production de pancartes, de bannières, d’affiches
              ou autres portant les messages politiques du CLAC dans le cadre d’activités de mobilisation, notamment
              des manifestations. Il peut être fait en équipe et le matériel est fourni par le CLAC.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>
  </div>

</div>
