<div class="row">
  <img src="../../assets/IMG_0755.JPG" class="header-image" alt="Group image">
</div>

<div class="card-container">
  <mat-card class="card-contain">

    <mat-card-content>


      <mat-card-title class="container-heading">Qui sommes-nous ?</mat-card-title>
      <div class="row">



        <div class="container-text col-md-4">
          <p class="text">Le Comité logement Ahuntsic-Cartierville (CLAC) est un organisme
            communautaire à but non lucratif.  Sa mission est de défendre les droits
            des locataires à faibles et modestes revenus dans une perspective à long terme
            de lutte contre la pauvreté et l’exclusion sociale.
          </p>
        </div>

        <div class="container-text col-md-4">
          <p class="text">
            À travers nos services et nos activités d’éducation populaire, le CLAC désire conscientiser
            ses membres et ses usagers afin de leur permettent d’acquérir les connaissances et les
            moyens qui leurs permettront de défendre leurs droits et d’ainsi améliorer leurs conditions
            de logement et de vie.
          </p>
        </div>

        <div class="container-text col-md-4">
          <p class="text">
            Outre l’éducation populaire et la défense des droits, le CLAC a choisi de travailler sur
            deux dossiers particuliers la promotion du logement social et la lutte à l’insalubrité.
          </p>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>

<div>
  <mat-divider class="featurette-divider"></mat-divider>
</div>



<div class="card-container">
  <mat-card class="card-contain">

    <mat-card-content>

      <mat-card-title class="container-heading">Notre mission</mat-card-title>

      <div class="container-text">

        <ul>

          <li class="text">
            Aider les habitants démunis de l’arrondissement Ahuntsic-Cartierville à résoudre
            les problèmes qu’ils rencontrent relativement à leurs conditions de logement;
          </li>

          <li class="text">
            Établir, organiser et maintenir des processus d’éducation populaire et d’information
            quant aux droits et recours pouvant améliorer les conditions de logement des
            locataires de l’arrondissement Ahuntsic-Cartierville;
          </li>

          <li class="text">
            Faire la promotion du logement social auprès des instances et personnes concernées;
          </li>

          <li class="text">
            Organiser, tenir et/ou participer à toute activité à caractère social, à toute action
            collective au regard des fins mentionnées ci-dessus;
          </li>

          <li class="text">
            Éditer et diffuser toutes publications relatives aux fins ci-dessus;
          </li>

          <li class="text">
            Solliciter et recevoir de toutes personnes, organismes constitués en
            corporation ou non et/ou d’autorités publiques, les contributions
            monétaires ou autres aux fins de mettre en application les objets ci-dessus;
          </li>

          <li class="text">
            Établir, organiser et maintenir un service de soutien aux requérants et locataires de logements sociaux;
          </li>

          <li class="text">
            Offrir un soutien aux personnes pauvres en situation d’urgence
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>

</div>

<div>
  <mat-divider class="divider-feature"></mat-divider>
</div>


<div class="container">

  <h1 class="container-heading">Notre Histoire</h1>

  <div class="date-text">

    <h2 class="date">1988 :</h2>

    <p class="text">
      Fondation du Comité logement Bordeaux-Cartierville.
    </p>

    <p class="text">
      S’apercevant qu’il y a de plus en plus de problèmes de
      logement dans le quartier, qu’un groupe de citoyens accompagné
      d’un organisateur communautaire du CLSC fondent le Comité logement
      Bordeaux-Cartierville.
    </p>

    <p class="text">
      <strong>14 juillet 1988 : </strong>
      Le Comité logement Bordeaux-Cartierville est incorporé.
    </p>

    <p class="text">
      Première année difficile. Les fonds manquent. Le Comité
      doit fermer ses portes pendant l’été faute de personnel.
    </p>

  </div>

  <div class="date-text">

    <h2 class="date">1989 :</h2>

    <p class="text">
      Novembre : L’assemblée générale de fondation a lieu. Le
      premier conseil d’administration est élu, et les Statuts et
      Règlements sont adoptés.
    </p>

  </div>

  <div class="date-text">

    <h2 class="date">1991 :</h2>

    <p class="text">
      Le comité logement embauche son premier coordonnateur qui sera
      en poste pendant 10 ans. Il solidifiera l’organisme et le fera
      connaitre auprès des autres organismes du milieu.
    </p>

    <p class="text">
      <strong>Logement social :</strong>
      C’est aussi cette année-là que débute la lutte pour la construction
      du HLM Cousineau.
    </p>

    <p class="text">
      Huit cents personnes signent une pétition. Une conférence de presse
      et une manifestation suivront afin de demander aux gouvernements fédéral
      et provincial et à l’administration municipale d’aller de l’avant avec
      la construction.
    </p>

    <p class="text">
      Quatre-vingt-six logements dont 56 unités pour les personnes âgées et
      30 unités pour familles seront construits. Ce sera un dernier HLM
      construit au Canada avant le retrait du gouvernement fédéral.
    </p>
  </div>

  <div class="date-text">

    <h2 class="date">1992 :</h2>

    <p class="text">La campagne 1000 pour 2000 prend forme : 1000
      logements sociaux pour l’an 2000. Cette campagne vise à construire
      400 logements sociaux par année pendant trois ans, une campagne
      qui ne se soldera pas avec les objectifs fixés.
    </p>

  </div>

  <div class="date-text">

    <h2 class="date">1999 :</h2>

    <p class="text">
      Le Comité logement prend connaissance des graves problèmes
      de salubrité aux places 	L’Acadie et Henri-Bourassa. Pendant
      plusieurs années nous lutterons avec les locataires afin de
      faire respecter leurs droits et demander l’expropriation des
      immeubles à des fins 	de logement social.
    </p>

    <p class="text">
      <strong>Dossier noir :</strong>
      Le Comité logement lance son premier Dossier Noir. Ce document
      révèle des statistiques alarmantes en matière de logement et il
      met en lumière la pauvreté qui sévit dans Bordeaux-Cartierville.
      Il nous fait voir que la réalité n’est pas la même pour tous les
      résidants du quartier, d’un côté très riche et d’un autre très
      pauvre avec des locataires qui vivent de graves difficultés.
    </p>

  </div>

  <div class="date-text">

    <h2 class="date">Les années 2000 : </h2>

    <p>
      Les années 2000 s’amorcent avec la crise du logement.
      Le Comité travaille d’arrache-pied afin d’aider les
      locataires du quartier en difficulté.
    </p>

    <p>
      Nous continuons notre mission d’éducation populaire et
      de défense des droits des locataires.
    </p>

    <p>
      Le manque de logements sociaux se fait sentir plus que
      jamais pendant la crise. Plusieurs locataires ne sont
      plus capables de payer leur loyer en raison de la
      hausse des loyers. Une conséquence directe de la pénurie de logement.
    </p>

  </div>

  <div class="date-text">

    <h2 class="date">2002 :</h2>

    <p>
      30 août 2002 : Le Comité logement Bordeaux-Cartierville change de
      nom pour devenir le Comité logement Ahuntsic-Cartierville afin d’englober
      les quartiers du nouvel arrondissement d’Ahuntsic-Cartierville.
    </p>

    <p>
      Centraide accorde à l’organisme un montant annuel de 50 000 $ pour
      continuer ses activités. Un bon coup de main qui permet de solidifier
      l’équipe de travail.
    </p>

    <p>
      Le SACAIS donne aussi une augmentation de son financement qui aide
      l’organisme à consolider un troisième poste.
    </p>

    <p>
      Le comité logement organise en 2003 et 2005 deux assemblées publiques,
      dont une pour lancer une nouvelle campagne : « Ahuntsic-Cartierville
      debout pour 500 logements sociaux!» Une campagne de pétition qui se
      soldera par la remise de ces pétitions à la députée fédérale de
      l’arrondissement
    </p>

  </div>

  <div class="date-text">

    <h2 class="date">2008 :</h2>

    <p>
      Le Comité logement fête ses 20 ans.
    </p>

    <p>
      Centraide augmente son financement de <strong>35 000 $</strong>
      pour un poste en mobilisation.
    </p>

    <p>
      D’un groupe avec des ressources très limitées à ses débuts,
      le CLAC est maintenant en bonne posture financière.
    </p>
  </div>

  <div class="date-text">

    <h2 class="date">2008 à 2018 :</h2>

    <p>
      Avec une équipe consolidée, le 	Comité retient deux principales
      causes : le développement du logement social et la lutte à l’insalubrité.
    </p>
  </div>

  <div class="date-text">

    <h2 class="date">2015</h2>

    <p>
      <strong>Lutte à l’insalubrité :</strong>
      le CLAC entreprend une vaste lutte à l’insalubrité dans	la zone
      Laurentien-Grenet, un secteur très défavorisé de Cartierville avec
      le projet ZOOM sur l’insalubrité.
    </p>

    <p>
      <strong>Logement social :</strong>
      les membres du CLAC se mobilisent pour revendiquer 587 logements
      sociaux sur le terrain Louvain. Ce terrain qui est la propriété de
      la Ville de Montréal abritait jadis la fourrière municipale.
    </p>

  </div>

  <div class="date-text">

    <h2 class="date">2017 :</h2>

    <p>
      Le CLAC soutient un groupe de requérants qui désirent développer une
      coopérative famille sur le terrain Louvain.
    </p>

  </div>

  <div class="date-text">

    <h2 class="date">2018 :</h2>

    <p>
      10 octobre 2018 : La Coopérative famille Louvain est fondée.
    </p>

    <p>
      14 juillet 2018 : Le Comité logement Ahuntsic-Cartierville fête ses 30 ans.
    </p>

    <p>
      Le CLAC entreprend une grande restructuration. Tous les documents
      constitutifs, les politiques et les Statuts et règlements seront révisés.
    </p>

  </div>

  <div class="date-text">

    <h2 class="date">12 février 2020 :</h2>

    <p>
      Les membres adoptent, en Assemblée générale spéciale de nouveaux
      Statuts et règlements et adoptent les modifications aux Lettres
      patentes de l’organisme.
    </p>

  </div>

</div>



<div class="row card-container">
  <mat-card class="card-contain">

    <mat-card-content>
      <mat-card-title class="container-heading">Le comité logement Ahuntsic-Carterville aujourd'hui</mat-card-title>
      <div class="card-content">
        <p class="text">
          Le Comité logement dessert une population de 134 245 habitants
          (au recensement de 2016). 61% des logements sont occupés par des locataires.
          Le Comité logement couvre un territoire de 24 km carré, dont:
        </p>

        <div class="card-content-2">
          <p class="text"><strong>Deux quartiers :</strong></p>
          <ul>
            <li class="card-text">Ahuntsic</li>
            <li class="card-text">Cartierville</li>
          </ul>

          <p class="text"><strong>Trois circonscriptions électorales provinciales :</strong></p>
          <ul>
            <li class="text">Maurice-Richard</li>
            <li class="text">Crémazie</li>
            <li class="text">Saint-Laurent</li>
          </ul>

          <p class="text"><strong>Une circonscription électorale fédérale :</strong></p>
          <ul>
            <li class="card-text">Ahuntsic-Cartierville</li>
          </ul>
        </div>
      </div>

    </mat-card-content>
  </mat-card>

</div>



<div class="container">

  <div class="text-container">

    <h1 class="bottom-heading">Définition de l’action communautaire autonome</h1>

    <p class="bottom-text">
      Le contexte économique, politique, social et culturel dans lequel nous vivons
      constitue un des déterminants majeurs de notre état de santé et de bien-être.
      Les organismes communautaires autonomes cherchent donc à intervenir
      directement sur ces aspects ainsi que sur les facteurs qui les déterminent
      afin de répondre globalement aux besoins des personnes.
    </p>

    <p class="bottom-text">
      Grâce à leurs activités (aide, soutien, activités, etc.), et leur approche
      (en impliquant les personnes, en renforçant leur potentiel, en leur redonnant
      une place, un pouvoir, etc.), et par leur nature (collectif, démocratique).
      Les organismes communautaires autonomes agissent en prévention et cherchent
      ultimement à amener une transformation sociale.
    </p>

  </div>

  <div class="text-container">

    <h1 class="bottom-heading">Les critères pour qu’un organisme soit considéré
      comme un organisme d’action communautaire autonome.</h1>

    <div class="row">

      <div class="col-md-6">


        <h4 class="bottom-text">
          Les quatre (4) premiers critères s’adressent à l’ensemble des organismes
          d’action communautaire :
        </h4>
        <ul>

          <li><p class="text">
            être un organisme à but non lucratif;
          </p></li>

          <li><p class="text">
            être enraciné dans la communauté;
          </p></li>

          <li><p class="text">
            entretenir une vie associative et démocratique;
          </p></li>

          <li><p class="text">
            être libre de déterminer sa mission, ses approches, ses pratiques et
            ses orientations.
          </p></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4 class="bottom-text">
          S’ajoutent quatre (4) critères supplémentaires pour les organismes d’action
          communautaire autonome (ACA) :
        </h4>
        <ul>
          <li><p class="text">
            avoir été constitué à l’initiative des gens de la communauté;
          </p></li>

          <li><p class="text">
            poursuivre une mission sociale qui lui soit propre et qui favorise la
            transformation sociale;
          </p></li>

          <li><p class="text">
            faire preuve de pratiques citoyennes et d’approches larges, axées
            sur la globalité de la problématique abordée;
          </p></li>

          <li><p class="text">
            être dirigé par un conseil d’administration indépendant du réseau public
          </p></li>

        </ul>
      </div>
    </div>
  </div>
</div>
