.header-image {
  max-width: 100%;
}

.card-contain {
  max-width: 65%;
  padding: 40px;
}

.morepaddingtop{
  padding-top: 150px;
  padding-bottom: 150px;
}
.card-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-heading {
  text-align: center;
  font-weight: 400;
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 40px;
  color: darkslateblue;
  line-height: 120%;
}

.container-text {
  text-align: justify;
}

.text {
  font-size: 14px;
  line-height: 20px;
}

.divider-feature {
  margin: 5rem 0;
}

.date {
  color: steelblue;
}


.date-text {
  padding-bottom: 30px;
}

.card-content {
  padding-left: 10%;
}

.card-content-2 {
  padding-left: 10%;
}

.text-container {
  padding-bottom: 50px;
}

.bottom-heading {
  color: slateblue;
  padding-bottom: 20px;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding-card {
  padding-bottom: 50px!important;
  min-height: 300px;
  display: flex;
}
