<div>
  <h1 class="card-heading">Équipe de travail</h1>
</div>
<div class="row card-align">
  <div class="col-md-3 padding-card">
    <mat-card>
      <mat-card-title class="centered">Denise Belec</mat-card-title>
      <mat-card-subtitle class="centered">Coordonatrice</mat-card-subtitle>
      <div class="row">
          <button mat-icon-button (click)="openDialog()" class="icon">
            <mat-icon [inline]="true">email</mat-icon>
          </button>
      </div>
    </mat-card>
  </div>
  <div class="col-md-3 padding-card">
    <mat-card>
      <mat-card-title class="centered">Karina Montambeault</mat-card-title>
      <mat-card-subtitle class="centered">Organisatrice communautaire</mat-card-subtitle>
      <div class="row">
          <button mat-icon-button (click)="openDialog()" class="icon">
            <mat-icon [inline]="true">email</mat-icon>
          </button>
      </div>
    </mat-card>
  </div>
  <div class="col-md-3 padding-card">
    <mat-card>
      <mat-card-title class="centered">Yvon Dinel</mat-card-title>
      <mat-card-subtitle class="centered">Organisateur communautaire</mat-card-subtitle>
      <div class="row">
          <button mat-icon-button (click)="openDialog()" class="icon">
            <mat-icon [inline]="true">email</mat-icon>
          </button>
      </div>
    </mat-card>

  </div>
</div>

<mat-divider class="featurette-divider"></mat-divider>

<br>
<br>
<div class="row myalign">
  <div class="col-md-4 text-container">
    <h2 class="featurette-heading">Comment Nous Rejoindre</h2>
    <ul>
      <li><p>Nous sommes situés près du métro Henri-Bourassa,</p></li>
      <li><p>Les autobus 55, 69, 164 et 171 vous amènent au coin de notre rue.</p></li>
    </ul>
  </div>
  <div class="col-md-8">
    <a href="https://www.google.com/maps/place/10780+Rue+Laverdure+bureau+208,+Montr%C3%A9al,+QC+H3L+2L9/@45.5524833,-73.6740917,17z/data=!3m1!4b1!4m5!3m4!1s0x4cc918a2d92ba59b:0xd47d1309d64c1feb!8m2!3d45.5524833!4d-73.671903">
      <img src="../../assets/map.png" class="map">
    </a>
  </div>
</div>
<br>
<div class="row last-img">
  <div class="col-md-12">
      <img src="assets/logofooter.jpg" class="bottom-logo">
  </div>
</div>
