<mat-toolbar>
  <a mat-icon-button color="primary" aria-label="home button" href="/acceuil">
    <mat-icon>home</mat-icon>
  </a>
  <a mat-button color="primary" aria-label="nous contacter button" href="/contact">
    Nous Contacter
  </a>
  <a mat-button color="primary" aria-label="notre histoire link" href="/aide">
    Aide au Logement
  </a>
  <a mat-button color="primary" aria-label="activity link" href="/activite">
    Nos Activités
  </a>
  <a mat-button color="primary" aria-label="activity link" href="/membre">
    Espaces Membres
  </a>
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="page-footer font-small foot pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3 class="foot-title">AUTRES LIENS UTILES</h3>
        <mat-divider class="featurette-divider"></mat-divider>
        <p class="footerLink"><a href="https://www.frapru.qc.ca/" class="links">Front d'action populaire et réaménagement urbain</a></p>
        <p class="footerLink"><a href="https://rclalq.qc.ca/" class="links">Regroupement des comités logement et association des locataires du Québec</a></p>
      </div>
      <div class="col-md-4">
        <a href="https://www.facebook.com/Comit%C3%A9-logement-Ahuntsic-Cartierville-971452079566947/">
          <img src="../assets/fb.jpg" class="footer-icon">
        </a>
      </div>
    </div>
  </div>
</footer>

