<mat-toolbar class="tool">

  <div class="row">

    <div class="col">
      <button mat-icon-button  color="primary" [matMenuTriggerFor]="menu" ><mat-icon>view_headline</mat-icon></button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item  aria-label="nous contacter button">
          <a href="/contact" color="primary">Nous Contacter</a>
        </button>
        <button mat-menu-item color="primary" aria-label="notre histoire link">
          <a href="/aide">Aide au Logement</a>
        </button>
        <button mat-menu-item color="primary" aria-label="activity link">
          <a href="/activite">Nos Activités</a>
        </button>
        <button mat-menu-item color="primary" aria-label="activity link">
          <a href="/membre">Espaces Membres</a>
        </button>

      </mat-menu>
    </div>

    <div class="col">
      <a mat-icon-button color="primary" aria-label="home button" href="/acceuil">
        <mat-icon>home</mat-icon>
      </a>
    </div>
    <div class="col">
      <a mat-icon-button color="primary" aria-label="home button" href="/login">
        <mat-icon>perm_identity</mat-icon>
      </a>
    </div>

  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="page-footer font-small foot pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3 class="foot-title">AUTRES LIENS UTILES</h3>
        <mat-divider class="featurette-divider"></mat-divider>
        <p class="footerLink"><a href="https://www.frapru.qc.ca/" class="links">Front d'action populaire et réaménagement urbain</a></p>
        <p class="footerLink"><a href="https://rclalq.qc.ca/" class="links">Regroupement des comités logement et association des locataires du Québec</a></p>
      </div>
      <div class="col-md-4">
        <a href="https://www.facebook.com/Comit%C3%A9-logement-Ahuntsic-Cartierville-971452079566947/">
          <img src="../assets/fb.jpg" class="footer-icon">
        </a>
      </div>
    </div>
  </div>
</footer>

