<div class="covid">
  <button mat-button mat-dialog-close class="close" aria-label="Close" >
    <span aria-hidden="true">&times;</span>
  </button>
  <h1 class="title">COVID-19</h1>
  <div>
    <p>Tant que le centre communautaire Ahuntsic sera fermé, les bureaux du CLAC devront l’être aussi et toute l’équipe
      restera en télé-travail. Vous pouvez toujours nous joindre par téléphone au 514-331-1773. Laissez-nous votre nom,
      votre numéro de téléphone et votre adresse ainsi que le nom de la personne à qui vous désirez parler et nous vous
      rappellerons. </p>
  </div>
</div>