<div class="row">
  <img src="../../assets/CEP.jpg" class="header-image" alt="Group image">
</div>

<div class="container importantInfo">
  <div>
    <h1 class="firstHeader">Vous déménagez prochainement ?</h1>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <p>La Société d’habitation du Québec (la SHQ) a publié un petit guide pour vous aider dans votre déménagement.
        Le guide est disponible en plusieurs langues. </p>
      <p><a class="btn btn-secondary" href="http://www.habitation.gouv.qc.ca/en_vedette/un_guide_sur_les_bonnes_pratiques_sanitaires_lors_dun_demenagement.html">
        En savoir plus &raquo;</a></p>
    </div>
    <div class="col-lg-6">
      <p>La SHQ a également publié d’autres guides pour vous aider dans votre recherche de logement</p>
      <p><a class="btn btn-secondary" href="http://www.habitation.gouv.qc.ca/en_vedette/besoin_dun_logement_on_est_la_pour_vous_aider.html">
        En savoir plus &raquo;</a></p>
    </div>
  </div>
  <mat-divider class="featurette-divider"></mat-divider>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Vous risquez de vous retrouver sans logement?</h2>
      <p class="lead">Des ressources ont été mises en place pour vous aider. </p>
      <p class="lead">Vous pouvez appeler au:<br></p>
      <ul class="lead">
        <li class="list-items">311 (Accès Montréal) </li>
        <li class="list-items">514-868-4002 (Service de référence de l’OMHM)</li>
      </ul>
      <strong class="lead">N’oubliez pas de nous contacter aussi, nous pouvons vous aider.</strong>
    </div>
    <div class="col-md-5">
      <img src="../assets/question.png">
    </div>
  </div>
  <mat-divider class="featurette-divider"></mat-divider>
  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading-2">Livraison du Logement</h2>
      <h3 class="featurette-heading-3">Logement insalubre</h3>
      <p class="lead">À votre arrivée au logement, vous constatez que ce dernier est insalubre. Vous pouvez refuser d’en prendre possession.</p>
      <p class="featurette-text">1.	Avisez-en immédiatement votre propriétaire, texto ou téléphone.</p>
      <p class="featurette-text">2.	Prenez des photos.</p>
      <p class="featurette-text">3.	Si vous avez des témoins, les déménageurs par exemple, assurez-vous de prendre leurs noms et numéros de téléphone.</p>
      <p class="featurette-text">4.	Gardez toutes vos factures pour les dépenses excédentaires qu’occasionnera la non-livraison du logement.</p>
      <p class="featurette-text">5.	Envoyez une lettre par courrier recommandé au propriétaire. Nous pouvons vous aider à écrire cette lettre contactez-nous.</p>
      <strong class="strongt">Le propriétaire a l’obligation de vous livrer un logement en bon état de propreté, de salubrité, en bon état de réparation. </strong>
      <br>
      <br>
      <p class="featurette-text">Assurez-vous en arrivant dans votre logement de noter toute défectuosité.</p>
      <p class="featurette-text">1.	Prenez des photos.</p>
      <p class="featurette-text">2.	Si vous avez des témoins, notez leurs noms et numéros de téléphone.</p>
      <p class="featurette-text">3.	Avisez votre propriétaire de tous les problèmes dans les jours qui suivent votre aménagement.</p>
      <p class="featurette-text">4.	Si vous avez besoin d’aide n’hésitez pas à nous contacter.</p>
    </div>
  </div>
  <mat-divider class="featurette-divider"></mat-divider>
  <div class="row featurette bottom">
    <div class="col-md-7">
      <h3 class="featurette-heading">Le Code Civil du Québec stipule</h3>
      <strong>Article 1854 :</strong><p>Le locateur est tenu de délivrer au locataire le bien loué en bon état de
      réparation de toute espèce.</p>
      <strong>Article 1910:</strong><p>Le locateur est tenu de délivrer le logement en bon état d’habitabilité</p>
      <strong>Article 1911:</strong><p>Le locateur est tenu de délivrer le logement en bon état de propreté. </p>
    </div>
    <div class="col-md-5">
      <img src="../assets/law.jpg">
    </div>
  </div>
</div>
