<div class="container">

  <h1 class="container-heading">NOS SERVICES ET NOS ACTIVITÉS </h1>

</div>

<div class="container">

  <div class="row">
    <div class="col-md-4 padding-card">
      <mat-card class="">

        <mat-card-content>

          <mat-card-title class="card-title">Service d’information aux locataires</mat-card-title>

          <div class="card-text">
            <p class="text">
              Service individuel d’aide et d’information offert sur rendez-vous seulement.
            </p>

          </div>

        </mat-card-content>

      </mat-card>
    </div>

    <div class="col-md-4 padding-card">
      <mat-card class="container-card ">

        <mat-card-content>

          <mat-card-title class="card-title">Ateliers sur le logement social</mat-card-title>

          <div class="card-text">
            <p class="text">
              Ces ateliers vous informeront sur les différents types de logements sociaux:
              HLM, coopératives d’habitation et OBNL en habitation.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>

    <div class="col-md-4 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Ateliers sur les hausses de loyer</mat-card-title>

          <div class="card-text">
            <p class="text">
              Ces ateliers vous aideront à évaluer si l’augmentation de loyer
              demandée par le propriétaire est justifiée.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>
  </div>

  <div class="row">

    <div class="col-md-4 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Comité d’éducation populaire</mat-card-title>

          <div class="card-text">
            <p class="text">
              Soirées d’information où les locataires sont invités à partager un
              repas et à échanger sur divers sujets reliés au logement et à la
              lutte contre la pauvreté et l’exclusion sociale.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>

    <div class="col-md-4 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Ateliers sur les droits et recours des locataires</mat-card-title>

          <div class="card-text">
            <p class="text">
              Ces ateliers sont offerts auprès des usagers des autres groupes
              communautaires des quartiers Ahuntsic et Cartierville.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>

    <div class="col-md-4 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Impliquez-vous</mat-card-title>

          <div class="card-text">
            <p class="text">
              Vous désirez vous impliquer dans la lutte pour de meilleures
              conditions de logement dans votre quartier?  Devenez membre !
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>
  </div>

  <div class="container">

    <h1 class="sub-heading-2">Horraire des activités</h1>

    <div class="row">
      <iframe src="https://calendar.google.com/calendar/embed?src=m261poms8gjdajet5r5lfsu9h4%40group.calendar.google.com&ctz=America%2FToronto"
              style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>

  <div class="bottom-text">
    <p class="text">
      Vous pouvez aussi vous joindre au  Comité mobilisation qui travaille
      à l’organisation d’activités pour faire valoir nos revendications auprès
      des instances appropriées.
    </p>
  </div>

</div>

<div class="container">
  <mat-divider class="featurette-divider"></mat-divider>
</div>

<div class="container">



  <div class="row">

    <div class="bottom-text col-md-7">

      <div class="container">
        <h2 class="sub-heading">Zoom sur l'insalubrité des logements
        </h2>

        <p class="text">
          Avez-vous des problèmes de punaises de lit, de coquerelles, de souris, d’infiltration d’eau, de moisissures, ou
          des problèmes de chauffage? Nous pouvons vous aider...

          Notre programme Zoom sur l’insalubrité vise à soutenir les locataires de la zone RUI* à Cartierville qui vivent
          des problèmes d’insalubrité dans leur logement.

          Nous pouvons visiter votre logement vous accompagner dans vos démarches. Nos services sont gratuits et
          confidentiels. Contactez-nous
        </p>
      </div>

      <div class="container">
        <h2 class="sub-heading">Pour vous inscrire à un atelier ou pour demander de
          l’aide individuelle contactez-nous au 514-331-1773.
        </h2>

        <p class="text">
          Nous offrons également aux groupes communautaires d’Ahuntsic et Cartierville
          des sessions d’information sur les droits et recours des locataires. Contactez-nous
        </p>

      </div>
    </div>

    <div class="col-md-5">
      <img src="assets/zoom_insalubrite.jpg" class="container-img">
    </div>
  </div>
</div>


