<div class="container">

  <h1 class="container-heading">NOS SERVICES ET NOS ACTIVITÉS </h1>

</div>

<div class="container">

  <div class="row">
    <div class="col-md-4 padding-card">
      <mat-card class="">

        <mat-card-content>

          <mat-card-title class="card-title">Service d’information aux locataires</mat-card-title>

          <div class="card-text">
            <p class="text">
              Service individuel d’aide et d’information offert sur rendez-vous seulement.
            </p>
          </div>

        </mat-card-content>

      </mat-card>
    </div>

    <div class="col-md-4 padding-card">
      <mat-card class="container-card ">

        <mat-card-content>

          <mat-card-title class="card-title">Ateliers sur le logement social</mat-card-title>

          <div class="card-text">
            <p class="text">
              Ces ateliers vous informeront sur les différents types de logements sociaux:
              HLM, coopératives d’habitation et OBNL en habitation.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>

    <div class="col-md-4 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Ateliers sur les hausses de loyer</mat-card-title>

          <div class="card-text">
            <p class="text">
              Ces ateliers vous aideront à évaluer si l’augmentation de loyer
              demandée par le propriétaire est justifiée.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>
  </div>

  <div class="row">

    <div class="col-md-4 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Comité d’éducation populaire</mat-card-title>

          <div class="card-text">
            <p class="text">
              Soirées d’information où les locataires sont invités à partager un
              repas et à échanger sur divers sujets reliés au logement et à la
              lutte contre la pauvreté et l’exclusion sociale.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>

    <div class="col-md-4 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Ateliers sur les droits et recours des locataires</mat-card-title>

          <div class="card-text">
            <p class="text">
              Ces ateliers sont offerts auprès des usagers des autres groupes
              communautaires des quartiers Ahuntsic et Cartierville.
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>

    <div class="col-md-4 padding-card">
      <mat-card class="container-card">

        <mat-card-content>

          <mat-card-title class="card-title">Impliquez-vous</mat-card-title>

          <div class="card-text">
            <p class="text">
              Vous désirez vous impliquer dans la lutte pour de meilleures
              conditions de logement dans votre quartier?  Devenez membre !
            </p>
          </div>

        </mat-card-content>

      </mat-card>

    </div>
  </div>

  <div class="bottom-text">
    <p class="text">
      Vous pouvez aussi vous joindre au  Comité mobilisation qui travaille
      à l’organisation d’activités pour faire valoir nos revendications auprès
      des instances appropriées.
    </p>
  </div>

</div>

<div class="container">

  <h2 class="sub-heading">Pour vous inscrire à un atelier ou pour demander de
    l’aide individuelle contactez-nous au 514-331-1773.
  </h2>

  <div class="bottom-text">
    <p class="text">
      Nous offrons également aux groupes communautaires d’Ahuntsic et Cartierville
      des sessions d’information sur les droits et recours des locataires. Contactez-nous
    </p>
  </div>
</div>


<div class="container">

  <h2 class="sub-heading-2">Espace Membres</h2>

  <div class="row">

    <div class="col-md-3 mybtn">
      <p><a class="btn btn-secondary" href="../../assets/Statuts%20et%20règlements%20février%202020%20(1).pdf">
        Status et Règlements &raquo;</a></p>
    </div>


    <div class="col-md-3 mybtn">
      <p><a class="btn btn-secondary" href="../../assets/Fiche%20membership%20(1).pdf">
        Fiche à completer &raquo;</a></p>
    </div>

    <div class="col-md-3 mybtn">
      <p><a class="btn btn-secondary" href="../../assets/Devenez%20membre%20(1).docx">
        Devenir Membre &raquo;</a></p>
    </div>

  </div>
</div>
